In [ ]:
pip install pandas

In [ ]:
import pandas as pd  # 'pd' is the conventional alias for Pandas

In [6]:
# Create a DataFrame from a dictionary  - A DataFrame is a 2D table-like structure with rows and columns.
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],  # Column 'Name'
    'Age': [25, 30, 35],                  # Column 'Age'
    'City': ['New York', 'Los Angeles', 'Chicago']  # Column 'City'
}

df = pd.DataFrame(data)  # Convert the dictionary to a DataFrame
print(df)  # Display the DataFrame

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [11]:
# Read a CSV file into a DataFrame
df = pd.read_csv('F:\\Projects\\HUT\\data.csv')  # Replace 'data.csv' with your file path

# Display the first 5 rows of the DataFrame
print(df.head())

print(df)

  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male   8/6/1993        12:42 PM   97308    6.945
1     Thomas    Male  3/31/1996         6:53 AM   61933    4.170
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
0              True        Marketing
1              True              NaN
2             False          Finance
3              True          Finance
4              True  Client Services
    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [12]:
# Display the first 5 rows
print(df.head())

# Display the last 5 rows
print(df.tail())

# Get basic information about the DataFrame (columns, data types, non-null values)
print(df.info())

# Get summary statistics for numerical columns
print(df.describe())

  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
0    Douglas    Male   8/6/1993        12:42 PM   97308    6.945
1     Thomas    Male  3/31/1996         6:53 AM   61933    4.170
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
0              True        Marketing
1              True              NaN
2             False          Finance
3              True          Finance
4              True  Client Services
    First Name Gender  Start Date Last Login Time  Salary  Bonus %  \
995      Henry    NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip   Male   1/31/1984         6:30 AM   42392   19.675
997    Russell   Male   5/20/2013        12:39 PM   96914    1.421
998      Larry   Male   4/20/2013         4:45 PM   60500   11.985
999     Albert   Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB
None
              Salary      Bonus %
count    1000.000000  1000.000000
mean    90662.181000    10.207555
std     32923.693342     5.528481
min     35013.000000     1.015000
25%     62613.000000     5.401750
50%     90428.000000     9.838500
75%    118740.250000    14.838000
max    149908.000000    19.944000

In [14]:
# Select a single column
print(df['First Name'])  # Returns a Series

# Select multiple columns
print(df[['First Name', 'Gender']])  # Returns a DataFrame

# Select rows by index
print(df.iloc[0])  # First row
print(df.iloc[1:3])  # Rows 1 and 2

# Select rows by condition
print(df[df['Salary'] > 32000])  # Rows where Salary > 32000

0      Douglas
1       Thomas
2        Maria
3        Jerry
4        Larry
        ...
995      Henry
996    Phillip
997    Russell
998      Larry
999     Albert
Name: First Name, Length: 1000, dtype: object
    First Name  Gender
0      Douglas    Male
1       Thomas    Male
2        Maria  Female
3        Jerry    Male
4        Larry    Male
..         ...     ...
995      Henry     NaN
996    Phillip    Male
997    Russell    Male
998      Larry    Male
999     Albert    Male

[1000 rows x 2 columns]
First Name             Douglas
Gender                    Male
Start Date            8/6/1993
Last Login Time       12:42 PM
Salary                   97308
Bonus %                  6.945
Senior Management         True
Team                 Marketing
Name: 0, dtype: object
  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
1     Thomas    Male  3/31/1996         6:53 AM   61933    4.170
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858

  Senior Management     Team
1              True      NaN
2             False  Finance
    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [15]:
# Add a new column
df['Age'] = [25, 35, 42]  # Add a 'Age' column
print(df)

ValueError: Length of values (3) does not match length of index (1000)

In [ ]:
# Remove a column
df.drop('Salary', axis=1, inplace=True)  # Remove the 'Salary' column
print(df)

In [16]:
# Check for missing values
print(df.isnull())  # Returns a DataFrame of True/False for missing values

# Drop rows with missing values
df.dropna(inplace=True)

# Fill missing values with a specific value
df.fillna(0, inplace=True)  # Replace NaN with 0

     First Name  Gender  Start Date  Last Login Time  Salary  Bonus %  \
0         False   False       False            False   False    False
1         False   False       False            False   False    False
2         False   False       False            False   False    False
3         False   False       False            False   False    False
4         False   False       False            False   False    False
..          ...     ...         ...              ...     ...      ...
995       False    True       False            False   False    False
996       False   False       False            False   False    False
997       False   False       False            False   False    False
998       False   False       False            False   False    False
999       False   False       False            False   False    False

     Senior Management   Team
0                False  False
1                False   True
2                False  False
3                False  False
4                False  False
..                 ...    ...
995              False  False
996              False  False
997              False  False
998              False  False
999              False  False

[1000 rows x 8 columns]

In [17]:
# Check for missing values
print(df.isnull())  # Returns a DataFrame of True/False for missing values

     First Name  Gender  Start Date  Last Login Time  Salary  Bonus %  \
0         False   False       False            False   False    False
2         False   False       False            False   False    False
3         False   False       False            False   False    False
4         False   False       False            False   False    False
5         False   False       False            False   False    False
..          ...     ...         ...              ...     ...      ...
994       False   False       False            False   False    False
996       False   False       False            False   False    False
997       False   False       False            False   False    False
998       False   False       False            False   False    False
999       False   False       False            False   False    False

     Senior Management   Team
0                False  False
2                False  False
3                False  False
4                False  False
5                False  False
..                 ...    ...
994              False  False
996              False  False
997              False  False
998              False  False
999              False  False

[764 rows x 8 columns]

In [18]:
# Sort by 'Salary' in ascending order
sorted_df = df.sort_values(by='Salary')
print(sorted_df)

    First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
576    Michael    Male  7/30/1993         5:35 PM   35013   14.879
238      Kevin    Male  3/25/1982         7:31 AM   35061    5.128
82      Steven    Male  3/30/1980         9:20 PM   35095    8.379
63     Matthew    Male   1/2/2013        10:33 PM   35203   18.040
650    Cynthia  Female   7/5/1986         1:24 AM   35381   11.749
..         ...     ...        ...             ...     ...      ...
793     Andrea  Female  7/22/1999         9:25 AM  149105   13.707
160      Kathy  Female  3/18/2000         7:26 PM  149563   16.991
828    Cynthia  Female  7/12/2006         8:55 AM  149684    7.864
429       Rose  Female  5/28/2015         8:40 AM  149903    5.630
644  Katherine  Female  8/13/1996        12:21 AM  149908   18.912

    Senior Management             Team
576             False          Product
238             False            Legal
82               True  Client Services
63              False  Human Resources
650             False          Finance
..                ...              ...
793              True     Distribution
160              True          Finance
828             False          Product
429             False  Human Resources
644             False          Finance

[764 rows x 8 columns]

In [19]:
# Sort by 'Salary  ' in descending order
sorted_df = df.sort_values(by='Salary', ascending=False)
print(sorted_df)

    First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
644  Katherine  Female  8/13/1996        12:21 AM  149908   18.912
429       Rose  Female  5/28/2015         8:40 AM  149903    5.630
828    Cynthia  Female  7/12/2006         8:55 AM  149684    7.864
160      Kathy  Female  3/18/2000         7:26 PM  149563   16.991
793     Andrea  Female  7/22/1999         9:25 AM  149105   13.707
..         ...     ...        ...             ...     ...      ...
650    Cynthia  Female   7/5/1986         1:24 AM   35381   11.749
63     Matthew    Male   1/2/2013        10:33 PM   35203   18.040
82      Steven    Male  3/30/1980         9:20 PM   35095    8.379
238      Kevin    Male  3/25/1982         7:31 AM   35061    5.128
576    Michael    Male  7/30/1993         5:35 PM   35013   14.879

    Senior Management             Team
644             False          Finance
429             False  Human Resources
828             False          Product
160              True          Finance
793              True     Distribution
..                ...              ...
650             False          Finance
63              False  Human Resources
82               True  Client Services
238             False            Legal
576             False          Product

[764 rows x 8 columns]

In [24]:
# Save to a CSV file
df.to_csv('output.csv', index=False)  # 'index=False' avoids saving row numbers

# Save to an Excel file
df.to_excel('output.xlsx', index=False)

In [23]:
import os

# Get the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: F:\Projects\HUT

In [22]:
import os

# Change the current working directory
new_directory = "F:\Projects\HUT"  # Replace with your desired path
os.chdir(new_directory)

# Verify the change
print("New Working Directory:", os.getcwd())

New Working Directory: F:\Projects\HUT